

/*na caixa da seção de experiencia*/
section.resumo-secao#experiencia{
    /*add um espaço interno dentro da caixa da section experience, um espaço interno entre a caixa que o section contem e a borda da caixa da, um espaço interno entre a borda e conteudo*/
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 48px;
    padding-right: 48px;
}

/*no conteiner que abrange o conteudo de todas as seções*/
div.conteudo-experiencia{
        /*aplciar essa fonte*/
        font-family: 'muli';
        /*aplicar esse tamanho*/
        font-size: 18px;
}        

/*no titulo da seção de experiencia profissional*/
div.conteudo-geral-section-experience > h2{
    /*add um espaço externo ao redor da caixa na parte de baixo, entre essa caixa e a proxima caixa*/
    margin-bottom: 48px;
    /*o texto do titulos tem que ficar todo maiusculo*/
    text-transform: uppercase;
    /*tamanho da fonte*/
    font-size: 56px;
    /*fonte do google fontes*/
    font-family: 'Saira Condensed', sans-serif; 
    /*cor do texto*/
    color: #343a40;
}

/*na caixa que abrange todo o conteudo da experiencia*/
div.conteiner-experiencia > div.conteudo-experiencia{
    /*add um espaço externo ao redor da caixa na parte de baixo, entre essa caixa e a proxima caixa*/
    margin-bottom: 48px;
    /*largura da caixa, a caixa pode ocupar 70% da largura na horizontal do conteiner section experiencia*/
    width: 70%;
    /*mudando o display dessa caixa para poder colocar mais um conteiner ao lado dessa caixa, colocar o conteiner da data de experiencia, ao lado desse conteiner, o display inline bloco não quebra linha para o proximo elemento, e respeita os espaços add*/
    display: inline-block;
}

/*na caixa onde descreve o local da experencia 01 de trabalho*/
div.conteudo-experiencia > div.local-experiencia{
    /*add um espaço externo ao redor da caixa na parte de baixo, entre essa caixa e a proxima caixa*/
    margin-bottom: 16px;
    /*familia de fonte para subtitulos*/
    font-family: 'Saira Condensed', sans-serif;
    /*tamanho da fonte*/
    font-size: 24px;
    /*grossura da fonte*/
    font-weight: 500;
    /*fonte toda em maiuscula*/
    text-transform: uppercase;
    /*cor do texto*/
    color: #6c757d;
}

/*na caixa de paragrafo, onde esta a descrição da experiencia 01*/
div.conteudo-experiencia > p.descricao-experiencia{
    /*add um espaço externo ao redor da caixa na parte de baixo, entre essa caixa e a proxima caixa*/
    margin-bottom: 16px;
    /*fonte do paragrafo*/
    font-family: 'muli';
    /*tamanho da fonte*/
    font-size: 16px;
    /*espessura da fonte*/
    font-weight: 400;
    /*cor do texto*/
    color: #6c757d;
    /*altura da linha*/
    line-height: 24px;
}

/*na caixa de div, conteiner que descreve a data da experiencia 01*/
div.conteiner-experiencia > div.data-experiencia{
    /*fazendo esse conteiner flutuar a direita do conteiner de conteudo da experiencia 01*/
    float: right;
    /*fonte do google fontes*/
    font-family: 'muli';
    /*cor do texto*/
    color: #bd5d38;
    /*espessura da fonte*/
    font-weight: 400;
    /*tamanho da fonte*/
    font-size: 16px;
}

/*em cada subtitulo que descreve uma experiencia*/
div.conteudo-experiencia > h3{
    /*todo subtitulo deve ser em maiusculo*/
    text-transform: uppercase;
    /*tamanho da fonte*/
    font-size: 32px;
    /*familia de fonte para subtitulos*/
    font-family: 'Saira Condensed', sans-serif;
    /*espessura da fonte*/
    font-weight: 700;
    /*cor do texto*/
    color: #343a40;
}

/*para o link que tem dentro da descrição da experiencia*/
p.descricao-experiencia > a{
    /*tira sublinhado do link*/
    text-decoration: none;
    /*cor do texto*/
    color: #bd5d38;
}

/*ao usuario passa o mouse por cima do link*/
p.descricao-experiencia > a:hover{
    /*cor do texto*/
    color:chocolate
}

